.git
.gitignore
.github
.vscode
.idea
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
dist
build
.env
.env.local
.env.*.local
coverage
.DS_Store
*.swp
*.swo
*~
Dockerfile
docker-compose.yml
.dockerignore
.gitattributes
README.md
CHANGELOG.md
LICENSE
docs
eng/terraform
eng/argocd
eng/tekton
supabase/.temp
